<h1>30 Days Employee Review</h1>

<form #userForm="ngForm">

        {{userForm.value | json}}

        <hr />
        {{EmployeeReviewObj | json}}
        
<div class="input-group ">
   
    <input type="text" class="form-control" placeholder="First Name" name ="eFirstName" [(ngModel)]="EmployeeReviewObj.eFirstName"/>
    <span class="input-group-addon">-</span>
    <input type="text" class="form-control" placeholder="Last Name"  name="eLastName"   [(ngModel)]="EmployeeReviewObj.eLastName" />
  
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            First Name
        </div>
        <div class="col-sm-6">
            Last Name
        </div>
    </div>
</div>
<div class="row">
<div class="col-xs-12 col-12 col-sm-5 col-md-6 col-lg-4 form-group">
  <input placeholder="Datepicker" type="text" class="form-control" bsDatepicker #dp="bsDatepicker" name="datepicker" [(ngModel)]="EmployeeReviewObj.datepicker">
</div>
<div class="col-xs-12 col-12 col-sm-4 col-md-12 col-lg-4 form-group">
  <input type="button"
         class="btn btn-success"
         value="Date Picker"
         (click)="dp.show()" />
</div>
</div>

<div class="form-group">
  <label for="usr">Employee Title:</label>
  <input type="text" class="form-control" name="eTitle" id="usr"[(ngModel)]="EmployeeReviewObj.eTitle">
</div>

<div class="form-group">
  <p>Employee Department:</p>
  
    <select class="form-control" name="eDepartment" [(ngModel)]="EmployeeReviewObj.eDepartment">
      <option selected>Information Technology</option>
      <option value="high">H.R</option>
      <option value="medium">Machenical</option>
    </select>
   

</div>

<div class="mb-3">
  <label>Overall I would Rank this empolyee As:</label> 
   <div class="form-check">
     <input class="form-check-input" [(ngModel)]="EmployeeReviewObj.ePerform" type="radio" name="veryGood" value="Paytm"> 
     <label class="form-check-label">Very Good</label> 
   </div>
   <div class="form-check">
       <input class="form-check-input" [(ngModel)]="EmployeeReviewObj.ePerform" type="radio" name="Good" value="GooglePay"> 
       <label class="form-check-label">Good</label> 
     </div>
     <div class="form-check">
      <input class="form-check-input" [(ngModel)]="EmployeeReviewObj.ePerform" type="radio" name="Fair" value="GooglePay"> 
      <label class="form-check-label">Fair</label> 
    </div>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="EmployeeReviewObj.ePerform" type="radio" name="Poor" value="GooglePay"> 
      <label class="form-check-label">Poor</label> 
    </div>
    <div class="form-check">
      <input class="form-check-input" [(ngModel)]="EmployeeReviewObj.ePerform" type="radio" name="Very Poor" value="GooglePay"> 
      <label class="form-check-label">Very Poor</label> 
    </div>
</div>

<div class="form-group">
             
  <label for="inputsm">Please go into More Detail:</label>
  <input class="form-control form-control-lg" id="inputsm" type="text" name="detailData" [(ngModel)]="EmployeeReviewObj.detailData">

</div>



<p>Supervisors Name:</p>
<div class="input-group ">
   
    <input type="text" class="form-control" placeholder="First Name" name ="sFirstName" [(ngModel)]="EmployeeReviewObj.sFirstName"/>
    <span class="input-group-addon">-</span>
    <input type="text" class="form-control" placeholder="Last Name"  name="sLastName"   [(ngModel)]="EmployeeReviewObj.sLastName" />
  
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            First Name
        </div>
        <div class="col-sm-6">
            Last Name
        </div>
    </div>
</div>
<button class="btn btn-primary" type="submit">Submit</button>

</form>

 



