input-group, .txtarea{
    margin-bottom: 10px;
    width: 30%
     }

     input-group{
        width: 30%
     }
  
     .column {
        float: right;
        padding-left: 800px;
      }
      
      


h1 {
  font-family: "Roboto", sans-serif;
}
    